:root {
    --color-primary: #FEA116;
    font-family: "Poppins", sans-serif;
}

body {
    box-sizing: border-box;
    background: #FFFFFF;
    margin: 0px;
}

header {
    margin: 0;
    padding: 1rem 1rem;
    background: url("assets/bg.png");
    background-size: contain;
}

a,
u {
    text-decoration: none;
}

.primary_btn {
    display: inline-block;
    background-color: var(--color-primary);
    padding: 0.5em 1em;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 0.1em;
}

.primary_btn:active,
.primary_btn:focus {}

.nav_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_header_logo {
    width: 15rem;
}

nav a {
    margin-right: 1em;
    color: white;
}

#home-link {
    color: var(--color-primary);
}

.section_title_main_content {
    width: 100%;
    color: #FFFFFF;
}

.section_title_main_content_container {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-self: center;
    align-items: center;
    justify-items: center;
}

#title_section_bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

.section_title_content_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.section_title_content_container {
    display: flex;
    width: 60%;
    align-self: center;
}

.align_self_center {
    align-self: center;
}

.section_title_title_text_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 58%;
    margin-right: 2%;
}

.section_title_title_text {
    font-size: 30px;
}

.title_image_container {
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.title_image {
    height: 100%;
    width: 100%;
}

.rotating-image {
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
}

.rotating-image:hover {
    animation: spin 5s linear infinite;
    transition: none;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}